<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8491006e-009c-42a1-b6ff-f5f97de1b835" Alias="Tests - blocks - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Tests - blocks - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "66e32607-c137-4842-9402-c238f476f509"
    }
  ]
}]]></Config>
</DataType>