<?xml version="1.0" encoding="utf-8"?>
<DataType Key="858b91da-9665-41b1-91aa-662d58495ba0" Alias="Tests - Hotspot - Image Hotspot Property Editor UI" Level="1">
  <Info>
    <Name>Tests - Hotspot - Image Hotspot Property Editor UI</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>ImageHotspot.PropertyEditorUi</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "imageSrc": "myImage",
  "theme": "Red",
  "width": 400
}]]></Config>
</DataType>