<?xml version="1.0" encoding="utf-8"?>
<Media Key="00d77cb9-54ed-4cb3-9df1-4b55f68f703e" Alias="WhatsApp_Billede 2025-05-01 kl. 10.57.27_607c994a.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsApp_Billede20250501Kl105727_607c994ajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-12T15:09:15</CreateDate>
    <NodeName Default="WhatsApp_Billede 2025-05-01 kl. 10.57.27_607c994a.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/g01jdnue/whatsapp_billede-2025-05-01-kl-105727_607c994a.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>