<?xml version="1.0" encoding="utf-8"?>
<Content Key="8697430f-1894-4aba-8448-aa4d29a8b106" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>tests</ContentType>
    <CreateDate>2025-05-12T15:09:22</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2659fdbb-2e79-466f-875a-082c16e8d103">test</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <hotspot>
      <Value><![CDATA[{
  "left": 115,
  "top": 168,
  "percentX": 0.2875,
  "percentY": 0.56,
  "width": 400,
  "height": 300,
  "image": "https://localhost:44342/media/icsmgzsz/img_20260304_145147.jpg?width=400\u0026height=300\u0026hmac=48b36c0326aeb7049213d29e84e3bd2bb8337b6ec46cbeae622d22ed635fdeeb"
}]]></Value>
    </hotspot>
    <myImage>
      <Value><![CDATA[[
  {
    "key": "23cea4d1-0292-43b6-a19d-ce5013abf5e8",
    "mediaKey": "d0856ecf-9c30-4470-bd10-2b16f5eeef49",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </myImage>
  </Properties>
</Content>