<?xml version="1.0" encoding="utf-8"?>
<Content Key="8697430f-1894-4aba-8448-aa4d29a8b106" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>tests</ContentType>
    <CreateDate>2025-05-12T15:09:22</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2659fdbb-2e79-466f-875a-082c16e8d103">test</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <hotspot>
      <Value><![CDATA[{
  "percentX": 58.777429467084644,
  "percentY": 47.390396659707726
}]]></Value>
    </hotspot>
    <myImage>
      <Value><![CDATA[[
  {
    "key": "23cea4d1-0292-43b6-a19d-ce5013abf5e8",
    "mediaKey": "d0856ecf-9c30-4470-bd10-2b16f5eeef49",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </myImage>
  </Properties>
</Content>