<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f15e1b4-26c6-4e66-b95d-cf347547b275" Alias="hero poster.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroPosterjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-18T12:40:47</CreateDate>
    <NodeName Default="hero poster.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hmvfhonp/hero-poster.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>