<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0856ecf-9c30-4470-bd10-2b16f5eeef49" Alias="IMG_20260304_145147.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG_20260304_145147jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-18T12:11:27</CreateDate>
    <NodeName Default="IMG_20260304_145147.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/icsmgzsz/img_20260304_145147.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>