<?xml version="1.0" encoding="utf-8"?>
<Content Key="8697430f-1894-4aba-8448-aa4d29a8b106" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>tests</ContentType>
    <CreateDate>2025-05-12T15:09:22</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hotspot>
      <Value><![CDATA[{
  "left": 244,
  "top": 67,
  "percentX": 0.61,
  "percentY": 0.22333333333333333,
  "width": 400,
  "height": 300,
  "image": "https://localhost:44341/media/g01jdnue/whatsapp_billede-2025-05-01-kl-105727_607c994a.jpg"
}]]></Value>
    </hotspot>
    <myImage>
      <Value><![CDATA[[
  {
    "key": "a48fdb95-8604-4edd-9a32-e161f2db9e09",
    "mediaKey": "406980c0-1600-4a64-8ed1-6c983fe152ab",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </myImage>
  </Properties>
</Content>