<?xml version="1.0" encoding="utf-8"?>
<Content Key="84b18de8-26f3-486e-915d-23c30f71c9a5" Alias="Test2" Level="2">
  <Info>
    <Parent Key="8697430f-1894-4aba-8448-aa4d29a8b106">Test</Parent>
    <Path>/Test/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>child</ContentType>
    <CreateDate>2025-05-12T15:10:22</CreateDate>
    <NodeName Default="Test2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2659fdbb-2e79-466f-875a-082c16e8d103">test</Template>
  </Info>
  <Properties>
    <htospot>
      <Value><![CDATA[{
  "left": 196.5,
  "top": 92.5,
  "percentX": 0.49125,
  "percentY": 0.30833333333333335,
  "width": 400,
  "height": 300,
  "image": "https://localhost:44341/media/g01jdnue/whatsapp_billede-2025-05-01-kl-105727_607c994a.jpg"
}]]></Value>
    </htospot>
  </Properties>
</Content>