<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5317ca48-ec2b-4c69-be51-551312d5cb51" Alias="tests" Level="1">
  <Info>
    <Name>Tests</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>test</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2659fdbb-2e79-466f-875a-082c16e8d103">test</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1f862d71-8a7a-4b30-9c9d-c28cb41f2fa1" SortOrder="0">child</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b0c7bc5f-b04b-4a18-b85b-43bc598435bc</Key>
      <Name>blocks</Name>
      <Alias>blocks</Alias>
      <Definition>8491006e-009c-42a1-b6ff-f5f97de1b835</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="test">test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cd678c98-5ef6-4200-b19f-aa99e9dba2ef</Key>
      <Name>Hotspot</Name>
      <Alias>hotspot</Alias>
      <Definition>858b91da-9665-41b1-91aa-662d58495ba0</Definition>
      <Type>Umbraco.Plain.Json</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="test">test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>664e3cb9-f320-4d65-830a-bee23cfa7e0c</Key>
      <Name>My image</Name>
      <Alias>myImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="test">test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f5108dcd-0361-434a-b0c9-f690738d9051</Key>
      <Caption>test</Caption>
      <Alias>test</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>